@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Courier Prime', monospace;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1, p {
    margin: 10px 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 32px;
}

/* NAVBAR */

.navbar {
    height : 80px;
    padding: 5px;
    position: sticky;
    top: 0;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: white;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .btn {
    padding: 5px 20px;
}

.navbar .btn:hover {
    transform: scale(1.1);
}

.navbar .flex {
    justify-content: space-between;
}

/* SHOWCASE */

.showcase {
    height: 500px;
    position: relative;
}

.showcase .grid {
    gap: 30px;
    overflow: visible;
}

.showcase .grid > *:first-child {
    grid-column: 1 / span 2;
}

.showcase img {
    height: 350px;
    width: 350px;
    justify-self: center;
}

.showcase .card i {
    margin-right: 10px;
    color: var(--primary-color);
}

/* UNIVERSITIES AND COMPANIES */

.universities-companies {
    margin-top: 80px;
}

.universities-companies .container img {
    max-height: 70%;
    width: 100%;
}

/* LEARNER OUTCOMES */

.learner-outcomes .grid {
    gap: 30px;
}

.learner-outcomes img {
    border-left: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

/* CATEGORIES */

.categories .flex {
    flex-wrap: wrap;
}

.categories .card {
    margin: 15px;
}

.categories .card img, .content .card img {
    border-radius: 5px;
    width: 300px;
    margin-bottom: 5px;
}

/* STUDENTS */

.students .card {
    margin: 15px;
}

.students .card img {
    border-radius: 50%;
    width: 300px;
    margin-bottom: 5px;
}

/* CONTACT PAGE */

.head {
    height: 200px;
}

.head .flex {
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
}

.head-text {
    font-size: 50px;
}

.offices .flex {
    flex-wrap: wrap;
}

.offices .card {
    margin-right: 20px;
}

.offices img {
    width: 235px;
    height: 145px;
    margin-bottom: 5px;
}

.contact .grid {
    gap: 40px;
}

.contact-form {
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.contact-form .form-control {
    margin: 25px 0;
}

.contact-form input[type='text'], .contact-form input[type='email'] {
    border: 0;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-bottom: 2px gray solid;
    font-size: 1rem;
}

.contact-form .btn {
    float: right;
}

.contact-form input:focus {
    outline: none;
}

.contact-text {
    padding: 20px;
}

.contact-text li {
    list-style-type: none;
}

.contact-text i {
    margin-right: 5px;
}

.follow-us a {
    margin: 10px;
}

/* ABOUT PAGE */
.hero {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100%;
}

.hero-text {
    font-size: 60px;
}

.stats .grid img {
    height: 200px;
    width: 200px;
}

/* COURSES PAGE */

.content .card {
    margin: 15px;
    height: 100%;
    width: 500px;
}

.content .flex {
    flex-wrap: wrap;
}

.content .card img{
    width: 100%;
}

.content .card i{
    color: var(--secondary-color);
}

.content .card .btn{
    margin-top: 5px;
}

.content .card .flex {
    justify-content: space-between;
}

.content .price {
    color: var(--dark-color);
    font-size: 30px;
    font-weight: bold;
}

/* FOOTER */

footer a {
    color: white;
}

footer .container nav {
    margin-left: 50px;
}