@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Courier Prime', monospace;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: black;
}

h1, p {
    margin: 10px 0;
}

img {
    width: 100%;
}

h1 {
    font-size: 32px;
}

/* NAVBAR */

.navbar {
    height : 80px;
    padding: 5px;
}

.nav-ul {
    display: flex;
}

.navbar a {
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .btn {
    padding: 5px 20px;
}

.navbar .btn:hover {
    transform: scale(1.1);
}

.navbar .flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.hamburger {
    background-color: transparent;
    color: white;
    display: none;
    cursor: pointer;
    border: none;
    font-size: 30px;
}

.hamburger:focus {
    outline: none;
}

/* SHOWCASE */

.showcase {
    height: 500px;
    position: relative;
}

.showcase .grid {
    gap: 30px;
    overflow: visible;
}

.showcase .grid > *:first-child {
    grid-column: 1 / span 2;
}

.showcase img {
    height: 350px;
    width: 350px;
    justify-self: center;
}

.showcase .card i {
    margin-right: 10px;
    color: var(--primary-color);
}

/* UNIVERSITIES AND COMPANIES */

.universities-companies {
    margin-top: 80px;
}

.universities-companies .flex {
    flex-wrap: wrap;
}

.universities-companies .container img {
    max-height: 70%;
    width: 150px;
}

/* LEARNER OUTCOMES */

.learner-outcomes .grid {
    gap: 30px;
}

.learner-outcomes img {
    border-left: 5px solid rgba(0, 0, 0, 0.7);
    border-bottom: 5px solid rgba(0, 0, 0, 0.7);
}

/* CATEGORIES */

.categories .flex {
    flex-wrap: wrap;
}

.categories .card {
    margin: 15px;
}

.categories .card img, .content .card img {
    border-radius: 5px;
    width: 300px;
    margin-bottom: 5px;
}

/* STUDENTS */

.students .card {
    margin: 10px auto;
    height: 80%;
    width: 70%;
}

.students .card img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 5px;
}

/* CONTACT PAGE */

.head {
    height: 200px;
}

.head .flex {
    flex-direction: row;
    align-items: flex-end;
    justify-content: left;
}

.head-text {
    font-size: 50px;
}

.offices .flex {
    flex-wrap: wrap;
}

.offices .card {
    margin-right: 20px;
}

.offices img {
    width: 235px;
    height: 145px;
    margin-bottom: 5px;
}

.contact .grid {
    gap: 40px;
}

.contact-form {
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

.contact-form .form-control {
    margin: 25px 0;
}

.contact-form input[type='text'], .contact-form input[type='email'] {
    border: 0;
    width: 100%;
    padding: 5px;
    background-color: white;
    border-bottom: 2px gray solid;
    font-size: 1rem;
}

.contact-form .btn {
    float: right;
}

.contact-form input:focus {
    outline: none;
}

.contact-text {
    padding: 20px;
}

.contact-text li {
    list-style-type: none;
}

.contact-text i {
    margin-right: 5px;
}

.follow-us a {
    margin: 10px;
}

/* ABOUT PAGE */
.hero {
    background-image: url('../images/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    height: 100%;
}

.hero-text {
    font-size: 60px;
}

.stats .grid img {
    height: 200px;
    width: 200px;
}

/* COURSES PAGE */

.content .card {
    margin: 15px;
    height: 100%;
    width: 500px;
}

.content .flex {
    flex-wrap: wrap;
}

.content .card img{
    width: 100%;
}

.content .card i{
    color: var(--secondary-color);
}

.content .card .btn{
    margin-top: 5px;
}

.content .card .flex {
    justify-content: space-between;
}

.content .price {
    color: var(--dark-color);
    font-size: 30px;
    font-weight: bold;
}

/* FOOTER */

footer a {
    color: white;
}

footer .social a:hover{
    color:darkgray;
}

/* MODAL STYLES */
.modal-container {
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal-container.show-modal {
    display: flex;
    opacity: 1;
}

.modal-content {
    position: relative;
    background-color: #eee;
    width: 400px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-content h2 {
    color: var(--dark-color);
}

.modal-content button {
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: 0;
}

.modal-content .form {
    width: 300px;
}

.modal-content .form-control label {
    font-weight: bold;
    display: block;
    margin:  8px 0;
}

.modal-content .form-control input {
    width: 100%;
    padding: 5px;
    margin:  10px 0;
    border: #777 solid 1px;
    border-radius: 5px;
}

.modal-content .form a {
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.modal-content .form-control input:focus {
    outline: 0;
}

/* CAROUSEL STYLES */
  /* Slideshow container */
  .slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 40px;
    transition: 0.6s ease;
    user-select: none;
  }
  
  .next {
    right: 0;
  }
  
  .prev:hover, .next:hover {
    color: grey;
  }
   
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* MEDIA QUERIES */

/* TABLETS */

@media screen and (max-width: 880px) {

    .navbar {
        height: 140px;
    }

    .navbar a {
        margin: 0 8px;
    }

    nav {
        width: 100%;
        justify-content: center;
    }

    .nav-ul {
        width: 100%;
        height:90px;
        position: fixed;
        top: 0;
        left:0;
        z-index: 100;
        background-color: var(--dark-color);
        padding: 10px 20px;
        justify-content: center;
        align-items: center;
        transition: transform 0.5s ease;
        transform: translateY(-100%);
    }

    body {
        transition: transform 0.5s ease;
    }

    body.show {
        transform: translateY(80px);
    }

    .hamburger {
        display: block;
    }

    .grid, .showcase .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        justify-content: center;
    }

    .showcase {
        height: auto;
    }

    .showcase-text {
        text-align: center;
    }

    .showcase .grid-3 {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase .grid-3 > *:nth-child(2), .showcase .grid-3 > *:nth-child(3), .showcase .grid-3 > *:nth-child(4), .showcase .grid-3 > *:last-child {
        grid-column: 1 / span 2;
    }

    .students .flex {
        flex-wrap: wrap;
    }

    .hero-text {
        font-size: 50px;
    }

}

/* MOBILES */

@media screen and (max-width:500px) {

    .navbar {
        height: 100%;
    }

    .navbar a {
        padding: 0;
        margin: 8px 0px;
    }

    .nav-ul {
        position: fixed;
        height: 300px;
        width: 100%;
        top: 0;
        left:0;
        z-index: 100;
        background-color: var(--dark-color);
        display: flex;
        flex-direction: column;
    }

    body {
        transition: transform 0.8s ease;
    }

    body.show {
        transform: translateY(300px);
    }

    .large, .hero-text {
        font-size: 32px;
    }

    .stats .grid img {
        height: 100px;
        width: 100px;
    }

}